
{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    <link href="{% static 'timer/timer.css' %}" rel="stylesheet" type="text/css" />
  {% endblock css %}
  
  </head>

  <body>

    {% block javascript %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
    <script src="{% static 'timer/timer.js' %}"><script>
    <script src="{% static 'timer/data.js' %}"><script>
    <script src="{% static 'timer/draw.js' %}"><script>



    $(document).ready(function(){
      // Initialize materialize data picker
      $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
      $('select').formSelect();
    
    });

    </script>
    {% endblock javascript %}
    <nav>
    <div class="nav-wrapper">
      <a href="{% url 'timer:index' %}" class="brand-logo"><i class="material-icons">timer</i>Original Pomodoro Timer</a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li> User Name: {{ user.username }} </li>
        <li><a href="{% url 'timer:user_timer_page' user.pk %}"><i class="material-icons key-icon">account_box</i></a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons key-icon">vpn_key</i></a></li>
        <li><a href="{% url 'timer:record_detail' user.pk %}"><i class="material-icons data-icon">assessment</i></a></li>
        {% else %}
        <li><a href="{% url 'timer:signup' %}"><i class="material-icons key-icon">account_box</i></a></li>
        <li><a href="{% url 'login' %}"><i class="material-icons key-icon">vpn_key</i></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
    {% block content %}
    {% endblock %}

    
    
    </body>