{% extends "timer/base.html" %}

{% block content %}

<h1>7日間の記録</h1>
<div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<canvas id="bargraph"></canvas>
</div>


<script>
  var ctx = document.getElementById("bargraph").getContext("2d");
  ctx.canvas.width = 400;
  ctx.canvas.height = 290;
  var myBar = new Chart(ctx, 
  {
            type: 'bar',
            data: {
                labels: [
               {{ yokoziku }}
              ],
                datasets: [{
                    label: '作業時間[min]',
                    data: [
                    {{ tateziku }}
                    ],
                    borderWidth: 2,
                    strokeColor: 'rgba(0,0,255,1)',   
                    backgroundColor: 'rgba(0,191,255,0.5)'    
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel: {
                            display: true, 
                            labelString: '日付',
                            fontsize: 18
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '作業時間 (分)',
                            fontsize: 18
                        }
                    }]
                },
                responsive: true
            }
        }
  
  
  
  
  
  
  
  
  )
</script>

{% endblock %}