{% extends "timer/base.html" %}

{% block content %}
<div class="row">
  <div class="col s12 m6">
    <div class="card orange darken-2 card_color">
      <div class="card-content white-text">
        <span class="card-title">Pomodoro Timer</span>
          <div class="main-timer-display">
            <div class="timeleft_min">{{ setlist.workTime }}</div>
            <div>:</div>
            <div class="timeleft_second">3</div>
          </div>
          <br>
          <div class="status-name display-none">休憩中</div>
          <div class="timeleft_task_min display-none">{{ setlist.workTime }}</div>
          <div class="timeleft_rest_min display-none">{{ setlist.restTime }}</div>
      </div>
      
      <!-- 後ほどform化！ -->
      
      <p id="acdn-button" class="acdn-button">time setting<i class="material-icons">keyboard_arrow_down</i><i class="material-icons key-icon display-none">keyboard_arrow_up</i></p>
      <div id="acdn-target" class="acdn-content">
        <form name="time_form" action="/timer/ajax/" method="POST">
          {% csrf_token %}
        <p>タスク時間</p>
        <input type="text" class="task_min time_box" name="ajax_box" value="{{ setlist.workTime }}">min
        <input type="text" class="task_second time_box" name="ajax_box" value=00>seconds
        
        <p>休憩時間</p>
        <input type="text" class="break_min time_box" name="ajax_box" value="{{ setlist.restTime }}">min
        <input type="text" class="break_second time_box" name="ajax_box" value=00>seconds

        <div class="card-action">
          <a href="#">SET</a>
        </div>
        <input class="btn ajax_starter" type="submit">
      </form>
      </div>
     
      <ul>
        <li><button id="startBTN"><i class="material-icons key-icon">play_arrow</i></button>
        <li><button id="pauseBTN"><i class="material-icons key-icon">pause</i></button></li>
        <li><button id="skipBTN" disabled="disabled"><i class="material-icons key-icon">fast_forward</i></button></li>
      </ul>

      </div>
  </div>
</div>

<a href="http://127.0.0.1:8000/admin/">adminページへ！</a>


<form method="post">

</form>

{% endblock %}